<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAZWElO65Gd3D9Gr4cks_e-Iuu-p3I8ZJE</string>
	<key>GCM_SENDER_ID</key>
	<string>783405175384</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.nagarik.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>nagarik-revamped</string>
	<key>STORAGE_BUCKET</key>
	<string>nagarik-revamped.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:783405175384:ios:8dfbfe829feb8cf055702d</string>
</dict>
</plist>